/* *{
  margin: 0;
} */
body {
  margin: 0;
}
.bodydiv {
  background: hsl(220, 38%, 11%);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.firstarr {
  z-index: 9;
}

.lucide {
  background-color: #1fc77e;
  clip-path: circle(300px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lucide2 {
  background-color: #7f3dd2;
  clip-path: circle(300px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.textdiv {
  width: 40%;
  /* position: absolute; */
}
.firsth1 {
  font-family: FS Meridian Trial;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.circle {
  position: relative;
  bottom: 290px;
  width: 420px;
  /* z-index: -1; */
}
.secondh1 {
  font-family: General Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
}
.btn1 {
  background-color: #1fc77e;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 199px;
  font-size: 16px;
}

.familydiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.family1 {
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.boxdiv {
  width: 400px;
  height: 100px;
  border-radius: 50px 50px 50px 0px;
  /* border-radius: ; */
  background-color: #7f3dd2;
}
.boxdiv2 {
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 50px 0px;
  /* border-radius: ; */
  background-color: #feea00;
}
.boxdiv3 {
  width: 300px;
  height: 100px;
  border-radius: 50px 0px 50px 50px;
  /* border-radius: ; */
  background-color: #1fc77e;
}

.boxdiv4 {
  width: 300px;
  height: 100px;
  border-radius: 50px 50px 50px 50px;
  /* border-radius: ; */
  background-color: white;
}
.boxdiv5 {
  width: 300px;
  height: 100px;
  border-radius: 50px 0px 50px 50px;
  /* border-radius: ; */
  background-color: #feea00;
}
.family2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.andrea {
  width: 250px;
  position: absolute;
  bottom: -150px;
}

.headeromni {
  margin-left: 150px;
  padding-top: 10px;
  /* margin-top: 90px; */
  /* background-color: red; */
  width: 220px;
  font-family: GeneralSans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.position1 {
  width: 400px;
  position: relative;
  /* top: 100px; */
  display: flex;
  justify-content: space-between;
}

.family2pic {
  position: absolute;
  bottom: 10px;
  left: 90px;
}

.arrdiv1 {
  /* width: 200px; */
  display: flex;
  justify-content: space-between;
  position: relative;
  /* clip-path: circle(80px); */
  /* background: #7f3dd2; */
  /* padding: 50px; */
  margin-top: 40px;
}


.andreadiv{
  position: relative;
}

.lastbox{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin-left: 20px;
margin-top: 50px;
/* width: 500px; */
}