.navbar{
    background: hsl(220, 38%, 11%);
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;

/* width: 300px; */
}
.optiondiv{
    display: flex;
    justify-content: space-around;
    width: 40%;
}