.navbar{
    background: hsl(220, 38%, 11%);
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 30px 60px 0px 60px;

/* width: 300px; */
}
.optiondiv{
    display: flex;
    justify-content: space-around;
    width: 40%;
}